* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utility */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
}

.col_3 {
    width: calc((100% / 3) - 20px);
    background-color: black;
    box-shadow: 0 0 10px rgb(34, 34, 34);
    float: left;
    margin: 20px 10px 20px 10px;
}

/* //utility */

body{
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 70%;
    margin: auto;
    text-align: center;
}

#title {
    color: #e53170;
    margin: 1.5rem 0 2rem 0;
}

.team_description{
    margin-bottom: 1.5rem;
}

img {
    width: 100px;
    float: left;
}

.text{
    float: left;
}

.name , .role {
    color: white;
    font-size: 12px;
    padding: 8px;
}

.mail{
    color: #45a1df;
    font-size: 12px;
    padding: 8px;
}

